.nav{
  display: flex;
  gap: 10px;
  margin: 20px;
  background-color: rgb(176, 149, 201);
  width: 200px;
  padding: 10px;
  box-shadow: 2px 2px 9px;
}

.nav a{
  color: aliceblue;
  text-decoration: none;
}

.horizontal{
  flex-direction: column;
}